html,
body {
    height: 100%;
    margin: 0
}

.navbar {
    box-shadow: 0 0px 7px #999;
    width: 100%;
    z-index: 100;
    background-color: white;
    /*position: fixed;*/
    top: 0;
}

.container-fluid {
    /*padding-top: 10px;*/
    margin-top: 20px;
}

/*
label.btn.btn-primary {
    background: #818a91;
    color: white;
    box-shadow: inset 0px 0px 4px #000000;
    border: none;
}

label.btn.btn-primary.active {
    color: #fff;
    background-color: #0275d8;
    box-shadow: none;
}
*/

.shapes-button label.btn.btn-primary {
    background: #efefef;
    /*box-shadow: inset 0px 0px 2px #999;*/
    border: 1px solid #efefef;
    color: #999;
}

.shapes-button label.btn.btn-primary.active {
    background-color: rgba(124, 181, 236, 0.48);
    color: #0275d8;
    box-shadow: none;
    border-color: #7cb5ec;
}

daterange-picker > input {
    text-align: center;
    width: 195px !important;
    background-color: rgba(124, 181, 236, 0.08);
}

.form-group.datepicker {
    width: 195px !important;
    margin-right: 10px;
}

input.form-control {
    border-color: #7cb5ec;
    color: #0275d8 !important;
    font-size: .9em;
    padding: .6rem .2rem;
}

a.navbar-brand {
    color: #454545;
}

a.navbar-brand:hover {
    color: black;
}

span.shape-cnt {
    min-width: 20px;
    display: inline-block;
    font-size: 0.7em;
}

.ui.fixed.sticky + div {
    margin-top: 39px !important;
}

.map {
    height: 80vh;
    width: 100%;
}

#info {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 100;
}

/*waiting gif - overlay */
#waiting-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2c192c;
    opacity: .6;
    z-index: 99;

}

#waiting-overlay img {
    vertical-align: middle;
    position: absolute;
    display: block;
    margin: auto;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
}

.shape-button {
    height: 16px;
    width: auto;
    margin-top: -2px;
}

#reportDetails a {
    word-wrap: break-word;
    color: #373a3c;
}

#reportDetails {
    font-size: 13px;
    padding 5px;
}

#reportDetails span.tag {
    color: #91002d;
    background: none;
    font-size: 13px;
    /*font-weight: 300;*/
    /*margin-right: 10px;*/
    /*border: 1px solid #ac4a62;*/
}

/* change color while button is active */
.btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover {
    /*background-color: rgb(7, 71, 125) !important;*/
    color: black !important;
}

.gm-style {
    background-color: white;
}

.gm-style > div:first-of-type {
    opacity: 0.7;
}

#reset-icon {
    font-size: 27px;
    cursor: pointer;
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    color: #666;
    width: 25px;
}

@media (max-width: 960px) {
    #map {
        width: 90vw;
        margin: 0 auto;
    }

    .navbar {
        position: static !important;
    }

    .logoMiddle {
        display: none;
    }
}

.aboutButton {
    margin: 0 8px;
}

.logoMiddle {
    width: 100%;
    height: auto;
    opacity: 0.1;
    margin-top: 25%;
}

.statsMiddle {
    margin-top: 50px;
}

.logoAbout {
    width: 25%;
    height: auto;
    margin: 35px;
}

.tag {
    margin-top: .2rem;
}

/* change bootstrap 4 tooltip colors */
.tooltip-inner {
    background-color: #555;
}

.tooltip.bs-tether-element-attached-bottom .tooltip-inner::before, .tooltip.tooltip-top .tooltip-inner::before {
    border-top-color: #555;
}

.tooltip.bs-tether-element-attached-top .tooltip-inner::before, .tooltip.tooltip-bottom .tooltip-inner::before{
    border-bottom-color: #555;
}

.tooltip.bs-tether-element-attached-right .tooltip-inner::before, .tooltip.tooltip-left .tooltip-inner::before{
     border-left-color: #555;
}

.tooltip.bs-tether-element-attached-left .tooltip-inner::before, .tooltip.tooltip-right .tooltip-inner::before{
     border-right-color: #555;
}