<body>
<nav class="navbar navbar-top navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="navbar-brand azelf-left" href="/">U Found One</a></li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-lg-12">
            <h1><img src="/static/images/logolarge.png" class="logoAbout"></h1>
            <h2>What is "U Found One" ?</h2>
            <p>"U Found One" is a project that enables any interested individual to easily browse and visualize data
                reports from <a href="nuforc.org">NUFORC</a>.</p>
            <h2>How do I use "U Found One" ?</h2>
            <p>The entire application is consists of one <a href="/">web page</a>. It is divided into multiple parts and features different
            visualisations, to suit the need of everyone.
            <h4>Filters and actions</h4>
            <p>The top bar allows you to load reports from a date range. When data
                are loaded, you can easily filter data by shapes using the shapes toggle buttons. After a change, don't
                forget
                to press the
                <em>apply</em>
                button for the filters to be applied ! <br/>
                On the right of the top bar, two buttons allow you to export filtered data in csv format and to consult
                this page.
            </p>

            <h4>Visualisation</h4>

            <p>Below the top bar, the screen is shared vertically into different visualisations :
            <ul>
                <li>On the left, a
                    <em>map</em>
                    displays individual reports, or clusters of reports when zoomed out. You can
                    click on a report to see its details (will be displayed under the map).
                </li>
                <li>On the right, the two
                    <em>graphs</em>
                    show the amount of reports by hour and by day respectively. You can
                    hover on the line to get more precise info. The small graph at the bottom of the "by day" graph is
                    an overview of the entire graph, so you can use it to navigate along the graph quickly.
                </li>
                <li>Finally, a
                    <em>wordcloud</em>
                    is available at the bottom of the screen. You can hover a word in order to
                    get more information (exact count). Also, the wordcloud is computed on the full desscription
                    available for each filtered report.
                </li>
            </ul>
            <h2>Why not show all reports ?</h2>
            <p>You probably noticed that you have two counts on the middle of the screen, <em>all</em> and <em>errors</em>.
                Some reports may lack essential information such as a defined place, the exact hour or the shape.
                Whose have been left aside and won't appear in the visualisations. Fortunately, they are not more the exception than the rule.</p>
        </div>
    </div>
</div>


<hr>
<div class="container">
<footer class="text-muted">
    <p>U Found One, Lucy Linder & Kewin Dousse, 2016 (VI)</p>
</footer>
    </div>


</body>