<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha256-mIfhv/h3MLq3WSiSlduuZO3saRNzzuf1LK8w3z3l3JY=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://openlayers.org/en/v3.19.1/css/ol.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/ol3gm.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/custom.css"/>

    <script src="https://cdn.jsdelivr.net/angularjs/1.5.8/angular.min.js" integrity="sha256-6Sr0HqNgUf/p88g6vsl87CrAnNqiOWhjlY6LS8jeWHA=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/tether/1.3.8/tether.min.js" integrity="sha256-/5pHDZh2fv1eZImyfiThtB5Ag4LqDjyittT7fLjdT/8=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha256-j+XrvkQ4jJ99Hj0pJKPr6k0RCgxDDSTs3PBqLrX2EMc=" crossorigin="anonymous" defer></script>
    <script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js" defer></script>
    <script src="/static/script/datepicker.js" defer></script>
    <script src="https://code.highcharts.com/stock/highstock.js" defer></script>
    <script src="/static/script/ufo-graphs.js" defer></script>
    <script src="/static/script/ol-debug.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDOvn2X8LiaQ6AUgRji2lw06vsUwJZqbmg" defer></script>
    <script src="https://cdn.jsdelivr.net/angularjs/1.5.8/angular-resource.min.js" integrity="sha256-k+YXCR11yJhZRs5rY4yE4RwlpCzsvkQW5npLJkHbjmI=" crossorigin="anonymous" defer></script>
    <script src="/static/ajs/rest/ufo.rest.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.0/angular-sanitize.min.js" defer ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.min.js" defer></script>
    <!-- wordcloud -->
    <script src="/static/vendor/d3/d3.v3.min.js" defer></script>
    <!--<script src="http://d3js.org/d3.v3.min.js" defer></script>-->
    <script src="/static/vendor/d3/d3.layout.cloud.js" defer></script>
    <script src="/static/script/ufo-wordcloud.js" defer></script>

    <script src="/static/ajs/ufo.module.js" defer></script>
    <script src="/static/ajs/ufo.controller.js" defer></script>
    <script src="/static/script/ol3gm.js" defer></script>
    <script src="/static/script/ufo-map.js" defer></script>


    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content="This is a test">

    <title>U Found One</title>
    <link rel="icon" href="/static/images/favicon.png"/>

</head>

    <% include contentTemplate %>

</html>

