<body ng-app="ufo" ng-controller="MainCtrl as ctrl">

<nav class="navbar navbar-top navbar-default">
    <a class="navbar-brand azelf-left" href="/">U Found One</a>
    <ul class="nav navbar-nav" style="display: none">
        <form class="form-inline">
            <div class="form-group datepicker">
                <daterange-picker ng-model="ctrl.dates" ng-change="ctrl.onDateChange()"/>
            </div>
            <div class="form-group shapes-button">
                <div class="btn-group" data-toggle="buttons">
                    <label ng-repeat="(name, shape) in ctrl.shapes"
                           class="btn btn-primary {{name}}"
                           ng-show="ctrl.shapes_count[name]"
                           bt-tooltip data-toggle='tooltip' data-placement='bottom'
                           data-original-title="{{ctrl.getTooltip(name, shape)}}">
                        <input type="checkbox" name="{{name}}" autocomplete="off"
                               bt-button ng-model="shape.active" ng-change="ctrl.onShapeChange()"/>
                        <span ng-if="shape.txt">{{shape.txt}}</span>
                        <img ng-if="shape.img" src="{{shape.img}}" class="shape-button">
                        <span class="shape-cnt">{{ctrl.shapes_count[name] }}</span>
                    </label>
                </div>
            </div>
            <div id="reset-icon" ng-click="ctrl.onResetShapes()"><span ng-show="ctrl.shapesChanged">⎌</span></div>
            <button ng-disabled="!ctrl.shapesChanged" ng-click="ctrl.onShapeApply()" type="button"
                    class="btn btn-secondary">Apply
            </button>
            <a href="/about" id="about" class="float-xs-right btn" target="_blank">?</a>
            <span class="float-xs-right" ng-csv="ctrl.getCSV()" style="cursor: pointer"
                bt-tooltip data-toggle='tooltip' data-placement='left' data-original-title="download filtered data as csv"
                    csv-headers="{{ctrl.csvHeaders}}" filename="ufos.csv"><img height="33" src="/static/images/csv-icon.png"/>
            </span>
        </form>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div id="map" class="map">
            </div>
            <div id="info"></div>
            <div id="reportDetails" class="card">
               Click on a report to see its details here.
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row chart-container">
                <div class="col-md-12">
                    <div id="chart2" style="height: 300px; min-width: 310px"></div>
                </div>
            </div>
            <div class="row chart-container">
                <div class="col-md-3 statsMiddle ng-hide" ng-show="ctrl.stats">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span bt-tooltip data-toggle='tooltip' data-placement='top' data-original-title="all reports, including unprocessed ones"
                                class="tag tag-default tag-pill float-xs-right">{{ctrl.stats.all}}</span>
                            all reports
                        </li>
                        <li class="list-group-item">
                            <span class="tag tag-default tag-pill float-xs-right"
                            bt-tooltip data-toggle='tooltip' data-placement='bottom'
                            data-original-title="incomplete records (unprocessed)">
                            {{ctrl.stats.all - ctrl.stats.complete}}</span>
                            errors
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div id="chart1" style="height: 200px; min-width: 310px; "></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/logolarge.png" class="logoMiddle">
                </div>
                <div class="col-md-8">
                    <div id="cloud"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="waiting-overlay">
    <img src="/static/images/waiting-gif.gif">
</div>
<!--
<hr>
<footer class="text-muted">
    <p>U Found One, Lucy Linder & Kewin Dousse, 2016</p>
</footer>
-->

</body>